#root {
  margin: 0 auto;
  font-family: "Poppins";
  /* background-image: url('./assets/10.png'); */


}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: black;
  color: white;
  padding: 2%;
  
}

a.nav-link {
  color: rgb(245, 243, 247);
}

/* About me  */
.about-me {
  margin: 3.5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 7.5%;
  flex-wrap: wrap;
  background-color: #e3e7f0;
  text-align: center;
  border-radius: 1%;
  background-image: url('./assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  align-content: center;
}

p {
  padding-top: 5%;
  text-align: left;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 0 auto;
  width: 80%;
  padding: 3%;
}

.card {
  background-color: #F6F8FD;
  color: black;
}
#project-btn{
  background-color: #111111;
}

/* Contact  */

.contactMeForm {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 1440px;
  height: 560px;
  background-color: #F6F8FD;
  margin: auto;
  border-radius: 1%;
}

form {
  text-align: center;
}

#contactMeText {
  color: #191b1c;
  font-size: 64px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 72px;
  text-align: center;

}

.inputBox {
  top: 582px;
  left: 80px;
  width: 504px;
  height: 54px;
  padding: 0px 8px;
  border: 1px solid #cdcdd2;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #1c1c1e;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 300;
  line-height: 22px;
  outline: none;
}

.sendMessage {
  top: 910px;
  left: 80px;
  width: 504px;
  height: 46px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #111111;
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins";
  line-height: 26px;
  outline: none;
}
#contactCard{
  padding-left:20%;
  padding: auto;
}

#icon {
  width: 6.5%;
  height: 6.5%;
  color: #111111;
  padding: 1%;
}

span {
  font-size: 22px;
  padding: 2%;
}
.inputDiv{
  margin: 2%;
}
h4{
  text-align: left;
}

/* Footer */

.footer {

  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1.5%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.social-icon {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.copyright {
  margin-left: auto;
}



/* 
  
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  } */